language: java

sudo: false

cache:
  directories:
    - $HOME/.m2/repository

jdk:
- openjdk8

services:
- docker

before_install:
- mvn clean
- echo "$DOCKER_PASSWORD" | docker login  -u "$DOCKER_ID" --password-stdin
- docker pull openjdk:8-jre-alpine

script:
- mvn deploy

after_success:
- bash <(curl -s https://codecov.io/bash)