language: java

sudo: false

cache:
  directories:
    - $HOME/.m2/repository

jdk:
- openjdk8

services:
- docker

addons:
  sonarcloud:
    organization: "rubensa"
    token:
      secure: $SONAR_TOKEN

before_install:
- mvn clean
- echo "$DOCKER_PASSWORD" | docker login  -u "$DOCKER_ID" --password-stdin
- docker pull openjdk:8-jre-alpine

script:
  # the following command line builds the project, runs the tests with coverage and then execute the SonarCloud analysis
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent install sonar:sonar -Dsonar.projectKey=rubensa_reservas-server
  - mvn deploy

after_success:
- bash <(curl -s https://codecov.io/bash)